<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/aliazhar.png" class="img-thumbnail rounded-circle" width="200" alt="aliazhar">
      <h1 class="display-4">a l i a z h a r</h1>
      <p class="lead">Newbie Developer | Students | Trader</p>
    </div>
  </div>
</div>
    